<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.shardingsphere.shardingspheredemo.repository.HealthRecordRepository">
    <resultMap id="healthRecordResultMap" type="org.apache.shardingsphere.shardingspheredemo.entity.HealthRecord">
        <result property="levelId" column="level_id"/>
        <result property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <insert id="addEntity" parameterType="org.apache.shardingsphere.shardingspheredemo.entity.HealthRecord"
            useGeneratedKeys="true" keyProperty="recordId">
        INSERT INTO health_record(user_id, level_id, remark)
        VALUES (#{userId}, #{levelId}, #{remark})
    </insert>

    <select id="findAll" resultMap="healthRecordResultMap">
        SELECT hr.*
        FROM health_record hr
        left join health_task ht on ht.record_id = hr.record_id
        WHERE hr.record_id IN (1, 2, 3, 4, 5, 6, 7, 8)
    </select>

    <select id="findByIds" resultMap="healthRecordResultMap">
        SELECT *
        FROM health_record
        WHERE
        record_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryById" resultMap="healthRecordResultMap">
        SELECT *
        FROM health_record
        WHERE record_id = #{recordId}
    </select>

    <update id="updateRecordId">
        UPDATE health_record
        SET record_id = #{newId}
        WHERE record_id = #{oldId}
    </update>
</mapper>